<form action='/appointments' method='post'>
    <input name='name'>
    <input name='phoneNumber'>
    <input name='notification'>
    <input name='timeZone'>
    <input name='time'>
    <button type='submit'>Submit</button>
</form>