<form action='/appointments' method='post' class="appointment-form">
    <div class="field">
        <label class="label">Name</label>
        <div class="control">
            <input class="input" type="text" placeholder="Enter name" name="name">
        </div>
    </div>
    <div class="field">
        <label class="label">Phone Number</label>
        <div class="control">
            <input class="input" type="text" placeholder="Enter phone number" name="phoneNumber">
        </div>
    </div>
    <div class="field">
        <label class="label">Notification</label>
        <div class="control">
            <input class="input" type="text" placeholder="Enter notification" name="notification">
        </div>
    </div>
    <div class="field">
        <label class="label">Time Zone</label>
        <div class="select">
            <select>
                <% timeZones.forEach(timeZone => { %>
                    <option><%= timeZone %></option>
                <% }); %>
            </select>
        </div>
    </div>
    <div class="field">
        <label class="label">Date</label>
        <div class="control">
            <input class="input" type="text" placeholder="Enter date" name="date">
        </div>
    </div>
    <div class="field">
        <label class="label">Time</label>
        <div class="control">
            <input class="input" type="text" placeholder="Enter time" name="time">
        </div>
    </div>
    <div class="field">
        <div class="control">
            <button class="button is-link">Submit</button>
        </div>
    </div>
    <input type="hidden" value="<%= user._id %>" name="userid">
</form>