<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Appointments</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
  <% if (user) { %>
    <h1>Hello, <%= user.name %></h1>
    <form action="/logout" method="get">
      <button type="submit">Logout</button>
    </form>
  <% } else { %>
    <h1>Hello There!</h1>
    <form action="/auth/google" method="get">
      <button type="submit">Login</button>
    </form>
  <% } %>
</body>

</html>